/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* DEFAULT SETTING */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-white-color: #ffffff;
  --text-dark-color: #6f737f;
  --text-gold-color: #a59678;
  --background-light-color: #3b4050;
  --background-dark-color: #2e323f;
  --margin-col: 3em;
  --margin-text: 1em;
  --line-height: 1.2;
  --letter-spacing: 0.12rem;
  --word-spacing: 0.16rem;
  --font-family-1: "Oswald", sans-serif;
  --font-family-2: "Monserrat", sans-serif;
  --padding-section: 7em 0;
}

html {
  font-size: 62.5%;
}

body {
  /* border: 2px solid #000000; */
}

h1,
h2 {
  font-family: var(--font-family-1);
  font-weight: 700;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

p {
  font-family: var(--font-family-2);
  font-weight: 400;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* UTILITY CLASSES */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;

  /* added for nav-toggle positioning */
  position: relative;
}

.btn {
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: 100px;
}

.btn:focus,
.btn:hover {
  opacity: 0.75;
}

.text-gold {
  color: var(--text-gold-color);
}

img {
  max-width: 100%;
  /* display: block; */
}

.col {
  /* background: lightcoral; */
  padding: 3em;
  text-align: center;
}

.col + .col {
  margin-top: var(--margin-col);
}

/* HEADER SECTION */
header {
  background: var(--background-dark-color);
  padding: 2em 0;
  text-align: center;
}

.nav-toggle {
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--background-light-color);
  color: var(--text-white-color);
  border: 0;
  position: absolute;
  left: 0;
  padding: 0;

  transition: opacity 0.3s ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  height: 3px;
  background: var(--text-white-color);
  margin: 0 auto;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav-bar {
  width: 100%;
}

.nav-bar {
  visibility: hidden;
  height: 0;
  pointer-events: none;
  position: absolute;
}

.nav-bar-visible {
  visibility: visible;
  height: auto;
  pointer-events: auto;
  position: relative;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.primary-nav-list {
  margin-bottom: 2em;
}

.nav-item {
  margin-top: 1em;
}

.nav-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  /* font-weight: bold; */
  color: var(--text-white-color);
}

.nav-link:focus,
.nav-link:hover {
  opacity: 0.75;
}

.btn-sign-up {
  background: var(--text-gold-color);
  color: var(--text-white-color);
}

.btn-sign-up:focus,
.btn-sign-up:hover {
  opacity: 0.75;
}

.logo {
  height: 30px;
}

main {
  padding: var(--padding-section);
  text-align: center;
}

.left-section {
  margin-bottom: var(--margin-col);
}

.left-section h2 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

.left-section p {
  font-size: 1.6rem;
}

.left-section div {
  margin-bottom: 2.7rem;
}

.right-section {
  margin-top: 11rem;
}

.right-section h1 {
  font-size: 3rem;
  margin-bottom: var(--margin-text);
}

.right-section .form-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--margin-text);
}

.form-div input,
.form-div textarea {
  font-size: 1.8rem;
  padding: 1.3rem;
  border-radius: 1.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.396);
}

.btn-message {
  font-size: 3rem;
  cursor: pointer;
  margin-top: 1rem;
}

footer {
  background-color: rgba(0, 0, 0, 0.292);
  padding: 5rem;
  font-size: 1.8rem;
  text-align: center;
}

.footer-col + .footer-col {
  margin-top: var(--margin-col);
}

.footer-2-p {
  margin-bottom: 1.5rem;
}

.footer-3 a {
  color: var(--text-dark-color);
  font-size: 3rem;
}

.footer-3-icons + .footer-3-icons {
  margin-left: 1.5rem;
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .footer-col + .footer-col {
    margin-top: 0;
  }

  main{
    min-height: 90vh;
  }

  footer {
    font-size: 1.4rem;
  }

  .footer-3 a {
    font-size: 1.7rem;
  }

  .footer-3-icons + .footer-3-icons {
    margin-left: 1rem;
  }

  .nav-toggle {
    display: none;
  }

  .nav-bar {
    visibility: visible;
    height: auto;
    pointer-events: auto;
    position: relative;

    justify-content: flex-end;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin: 0;
  }

  .primary-nav-list {
    margin: 0;
  }

  .nav-item {
    margin: 0 0 0 2em;
  }

  .nav-link {
    margin: 0;
  }

  .secondary-nav-list {
    margin: 0;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }

  /* NAV */
  .primary-nav-list {
    margin: 0 auto;
  }

  .main-flex {
    display: flex;
    justify-content: space-between;
  }

  .left-section {
    width: 45%;
    text-align: left;
  }

  .left-section {
    margin-bottom: 0;
    padding-top: 1rem;
  }

  .right-section {
    width: 49%;
  }

  .right-section h1 {
    font-size: 2.4rem;
    margin-bottom: 1.7rem;
  }

  .right-section {
    margin-top: 0;
  }

  footer {
    font-size: 1.7rem;
  }

  .footer-3 a {
    font-size: 1.9rem;
  }

  .footer-3-icons + .footer-3-icons {
    margin-left: 1rem;
  }
}
