/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* DEFAULT SETTING */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-white-color: #ffffff;
  --text-dark-color: #6f737f;
  --text-gold-color: #a59678;
  --background-light-color: #3b4050;
  --background-dark-color: #2e323f;
  --margin-col: 3em;
  --margin-text: 1em;
  --line-height: 1.2;
  --letter-spacing: 0.12rem;
  --word-spacing: 0.16rem;
  --font-family-1: "Oswald", sans-serif;
  --font-family-2: "Monserrat", sans-serif;
  --padding-section: 7em 0;
}

html {
  font-size: 62.5%;
}

body {
  border: 2px solid #000000;
}

h1,
h2 {
  font-family: var(--font-family-1);
  font-weight: 700;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

p {
  font-family: var(--font-family-2);
  font-weight: 400;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* UTILITY CLASSES */
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.25em 0.75em;
  border-radius: 100px;
}

.btn:focus,
.btn:hover {
  opacity: 0.75;
}

.text-gold {
  color: var(--text-gold-color);
}

img {
  max-width: 100%;
  /* display: block; */
}

.col {
  /* background: lightcoral; */
  padding: 3em;
  text-align: center;
}

.col + .col {
  margin-top: var(--margin-col);
}

/* HEADER SECTION */
header {
  background: var(--background-dark-color);
  padding: 2em 0;
  text-align: center;
}

.nav-toggle {
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--background-light-color);
  color: var(--text-white-color);
  border: 0;
  position: absolute;
  left: 0;
  padding: 0;

  transition: opacity 0.3s ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  height: 3px;
  background: var(--text-white-color);
  margin: 0 auto;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav-bar {
  width: 100%;
}

.nav-bar {
  visibility: hidden;
  height: 0;
  pointer-events: none;
  position: absolute;
}

.nav-bar-visible {
  visibility: visible;
  height: auto;
  pointer-events: auto;
  position: relative;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.primary-nav-list {
  margin-bottom: 2em;
}

.nav-item {
  margin-top: 1em;
}

.nav-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  /* font-weight: bold; */
  color: var(--text-white-color);
}

.nav-link:focus,
.nav-link:hover {
  opacity: 0.75;
}

.btn-sign-up {
  background: var(--text-gold-color);
  color: var(--text-white-color);
}

.btn-sign-up:focus,
.btn-sign-up:hover {
  opacity: 0.75;
}

.logo {
  height: 30px;
}

/* HERO SECTION */
.hero {
  background: var(--background-light-color);
  padding: var(--padding-section);
}

.hero-title {
  color: var(--text-white-color);
  font-size: 3.8rem;
  text-align: center;
}

.hero-content {
  margin-top: var(--margin-col);
}

.hero-text {
  color: var(--text-dark-color);
  font-size: 2.4rem;
}

.hero-btn {
  background: #a59678;
  color: #ffffff;
  margin-top: var(--margin-col);
  font-family: var(--font-family-1);
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* FEATURE SECTION */
.feature {
  background: #e4e4e4;
  padding: var(--padding-section);
}

.feature-title {
  font-size: 3rem;
}

.feature-text {
  font-size: 1.8rem;
  margin-top: var(--margin-text);
}

/* MAIN SECTION */
main {
  padding: var(--padding-section);
}

.left-content-title {
  color: var(--text-gold-color);
  font-size: 3.6rem;
}

.left-content-text {
  font-size: 2.1rem;
  margin-top: var(--margin-text);
}

.right-content {
  margin-top: var(--margin-col);
}

.main-col {
  background: var(--background-light-color);
  color: var(--text-white-color);
}

.right-content-title {
  font-size: 3rem;
  margin-bottom: var(--margin-text);
}

.right-content-text {
  font-size: 1.8rem;
  color: var(--text-dark-color);
}

/* FOOTER SECTION */
footer {
  background: var(--background-light-color);
  padding: var(--padding-section);
}

.footer-title {
  color: var(--text-white-color);
  font-size: 4.2rem;
  text-align: center;
}

.footer-content {
  margin-top: var(--margin-col);
}

.footer-col + .footer-col {
  margin-top: 0;
}

.footer-content-title {
  color: var(--text-gold-color);
  font-size: 2.1rem;
  margin-bottom: var(--margin-text);
}

.footer-content-text {
  color: var(--text-dark-color);
  font-size: 1.6rem;
}

.footer-content-text-item + .footer-content-text-item {
  margin-top: var(--margin-text);
}

/* MEDIA QUERIES */
@media (min-width: 700px) {
  .flex {
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .nav-bar {
    visibility: visible;
    height: auto;
    pointer-events: auto;
    position: relative;

    justify-content: flex-end;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin: 0;
  }

  .primary-nav-list {
    margin: 0;
  }

  .nav-item {
    margin: 0 0 0 2em;
  }

  .nav-link {
    margin: 0;
  }

  .secondary-nav-list {
    margin: 0;
    align-items: center;
  }

  /* HERO SECTION */
  .hero-title {
    width: 47%;
  }

  .hero-content {
    width: 50%;
  }

  .hero-btn {
    margin-top: 2em;
  }

  .col + .col {
    margin: 0;
  }

  /* MAIN SECTION */
  /* LEFT CONTENT */
  .main-img {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  /* ASIDE */
  .main-col + .main-col {
    margin-left: 1em;
  }

  /* FOOTER */

  .footer-col-1 {
    width: 37%;
  }

  .footer-col-2 {
    width: 60%;
  }

  .footer-col {
    padding: 1.5em;
    text-align: start;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }

  /* NAV */
  .primary-nav-list {
    margin: 0 auto;
  }

  /* HERO */
  .hero-title {
    width: 35%;
    /* font-size: 3rem; */
  }

  .hero-content {
    width: 60%;
  }

  /* MAIN */
  .main-desktop {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    /* flex-basis: ; */
  }

  .left-content {
    width: 62%;
  }

  .right-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .right-content {
    margin: 0;
  }

  .main-col + .main-col {
    margin-left: 0;
    margin-top: var(--margin-col);
  }

  img {
    max-width: 100%;
    background-position: center;
    background-size: cover;
  }
}
